@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$primary: #fcfaf2;
$secondary: #FEE696;
$tertiary: #127c56;
$quaternary: #fbda9d;
$weak-quaternary: #fff2cf;
$strong-quaternary: #f4ae6a;
$quinary: #524a4a;
$text-color: #2c2828;
$primary--dark: #2c2828;
$secondary--dark: #524a4a;
$tertiary--dark: #fbda9d;
$quaternary--dark: #127c56;
$weak-quaternary--dark: #484040;
$strong-quaternary--dark: #0a4932;
$quinary--dark: #FEE696;
$text-color--dark: #fcfcf2;
$font: 'Lato', sans-serif;
$font-title: 'Azeret Mono', monospace;


:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --tertiary: #{$tertiary};
    --quaternary: #{$quaternary};
    --weak-quaternary: #{$weak-quaternary};
    --strong-quaternary: #{$strong-quaternary};
    --quinary: #{$quinary};
    --text-color: #{$text-color};
    --theme-icon: url('../images/moon.png');
    &.dark {
        --primary: #{$primary--dark};
        --secondary: #{$secondary--dark};
        --tertiary: #{$tertiary--dark};
        --quaternary: #{$quaternary--dark};
        --weak-quaternary: #{$weak-quaternary--dark};
        --strong-quaternary: #{$strong-quaternary--dark};
        --quinary: #{$quinary--dark};
        --text-color: #{$text-color--dark};
        --theme-icon: url('../images/sun.png');
    }
}